.address_field {
    display: flex;

    input {
        &:focus {
            outline: none;
        }
        border-radius: 4px;
        border: none;
        background-color: #f0f3f7;
        color: #252525;
        height: 32px;
        /* margin-left: 8px; */
    }
}
