.address {
    font-size: 16px;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;

    min-width: 300px;

    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1;

    background-color: White;

    margin: 32px;

    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);

    button {
        color: #252525;
        border-radius: 4px;
        border: 1px solid grey;
        height: 40px;
        box-shadow: 0 1px 2px 0 rgba(16, 162, 234, 0.3);
        background-image: linear-gradient(#10a2ea, #0f99e8);
        font-weight: bold;
        color: #fff;
    }
}
