@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282828;

    font-family: 'Roboto', sans-serif;
}
